@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-one: #535c68;
}


/*Gets rid of gap above Three.js Component*/
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}